auto-install-peers = true
strict-peer-dependencies = false
prefer-workspace-packages = true
link-workspace-packages = deep
hoist = true
shamefully-hoist = true
# Start Generation Here
max_old_space_size = 8096
# End Generation Here

